*{
    margin: 0;
    padding: 0;
}

.home-outline{
    margin-top: 80px;
}

main {
    margin-top: 100px;
}

.background-img{
    background-image: url(./icon.svg);
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container-logo{
    text-align: center;
    display: flex;
    justify-content: center;
    opacity: 40%;
}


.logogroupo{
    height: 300px;
    width: auto;
}


.logo-navbar{
    margin: 10px;
    height: 30px;
}

h3{
    font-size: 23px;
}

.form-file {
    margin-right: 15px;
}

.fa-image{
    font-size: 30px;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #E97B86;
}
.fa-image:hover{
    color: #c74c58;
}

.form-control {
    background-color: #FFF4F4;
    border-color: #E97B86;
}

.btn{
    background-color: #E97B86;
    color: white;
    font-size: 12px;
}

.btn:hover{
    background-color: #c74c58;
    color: white;
}

.text-card{
    background-color: #FFF4F4;
    border-radius: 5px;
}

.card-body{
    padding: 0px;
    font-size: 15px;
    font-weight: bold;
}

.card-body .text-muted{
    font-weight: initial;
}

.card-header{
    padding: 0px;
}

.card-body.title {
    background-color: #F4F4F4;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}